{
  "presets": [
    ["env", {
      "modules": false,
      "exclude": ["transform-es2015-typeof-symbol"],
      "targets": {
        "browsers": ["last 2 versions", "ie 9-11"]
      }
    }]
  ],
  "plugins": ["external-helpers"]
}
